:root {
  --bg: #1d1c1c;
  --fg: rgb(228, 213, 213);
}

body {
  color: var(--fg);
  background-color: var(--bg);
}

/* light mode overrides */
body.light {
  --bg: #ffffff;
  --fg: #111111;
}

/* dark mode overrides */
body.dark {
  --bg: #1d1c1c;
  --fg: rgb(255, 239, 239);
}
