.detail-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.detail-view-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
