@import url('../App.css');

.submit-button {
  font-size: 30px;
  background-color: var(--fg);
  color: var(--bg);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.submit-button:hover {
  background-color: var(--bg);
  color: var(--fg);
  transform: scale(1.05);
}

.card-button {
  font-size: 20px;
  margin-top: 5px;
  height: 40px;
  background-color: var(--fg);
  color: var(--bg);
  padding: 8px 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.card-button:hover {
  background-color: var(--bg);
  color: var(--fg);
  transform: scale(1.05);
}