.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-top: 40px;
}

.home-container h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.home-container p {
    font-size: 1.5rem;
}