.tshirt-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cbc2c2;
    color: var(--fg);
    border-radius: 20px;
    padding: 20px;
    width: 360px;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tshirt-card .t-shirt-name {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
    text-wrap: wrap;
    word-break: break-word;
}

.tshirt-card .price {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333
}